#nameText {
  text-align: center;
  font-family: 'Kaushan Script', Helvetica;
  font-size: 70px;
}

#description {
  text-align: center;
  font-family: 'Shadows Into Light', Helvetica;
  font-size: 30px;
}

#profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  height: 200px; 
}

#projects {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/pattern3.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#about {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #4d4d4d;
    background: url(../img/pattern4.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/pattern2.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}